name: Run Tests

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Integration Test

    strategy:
      matrix:
        server:
          - 7.1.1
          - 7.0.3
          - 7.2.2

    runs-on: ubuntu-20.04
    services:
      couchbase:
        image: couchbase:enterprise-${{ matrix.server }}
        ports:
          - 8091-8096:8091-8096
          - 18091-18096:18091-18096
          - 11210:11210
          - 11207:11207
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Initialize deps
        run: go get
      - name: Generate mocks
        run: |
          go install github.com/matryer/moq@latest
          go generate

      - name: Initialize couchbase
        #        env:
        #          CB_TRAVEL_SAMPLE: yes
        run: ./.github/bin/init-cluster
      - name: Check couchbase
        run: ./.github/bin/check-cluster

      - name: Setup cluster env
        run: |
          curl -X POST -u Administrator:password http://127.0.0.1:8091/pools/default/buckets/default/scopes/_default/collections -d name=test

      - name: Run tests
        timeout-minutes: 40
        env:
          GCBCONNSTR: 127.0.0.1
        run: go test ./... -v -race
